body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100vh;
    color: #0F172A;
    background-color: #ffffff;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-donation-container {
    width: 20rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
}

.right-crypto-container {
    width: 14.5rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.first-coin-container {
    width: 14.5rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    row-gap: .2rem;
}

 .dog-coin-container {
    width: 100%;
    height: 1.3rem;
    /* flex: 1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d4d4d4;
    padding: 2px 4px;
}

.second-coin-container {
    width: 14.5rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    row-gap: .2rem;
}

.second-coin-container > .shinUba-coin-container {
    width: 100%;
    height: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d4d4d4;
    padding: 2px 4px;
}


.dog-coin-container, .shinUba-coin-container {
    font-size: 10px;
}